<!DOCTYPE html>

{% extends 'header.html' %}

{% load static %}

<html lang="en">

    
    {% block content %} 

    <style>

        .form-con{
            width: 60%;
            margin: auto;
            margin-bottom: 40px;
        }
        
        .p{
            text-align: center;
        }


        .pix{
            text-align: center;
        }
        
        .pix img{
            border-radius: 5px;
        }

        .btn1{
            text-align: center;
        }

        .bt{
            width: 20%;
            font-size: 17px;
        }

    </style>

        
    <body class="body bg-dark">
        
        <!-- Page content-->
      
        <div class="container">
            {% include "messages/message.html" %}

            <div class="container">

                <div class="text-center my-5 text-primary">
                    <h3>Delete Post Here</h3>
                </div>

            </div>

            <div class="container-form">

                <form method="post" action="{{pd.delete}}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-con">
                        {% for pd in postdel %}
                        <div class="t mb-3">
                            <input type="text" name="title" id="" placeholder="Post Title" class="form-control bg-black text-white" value="{{pd.title}}">
                        </div>

                        <div class="pix mb-3">
                            {% if pd.upload_image %}
                            <img src="{{ pd.upload_image.url }}" alt="Current Image" style="width: 200px; height: 150px; margin-bottom: 20px;">
                            {% endif %}

                        </div>

                        <div class="p mb-4 fw-bolder text-danger fst-italic mx-auto">
                            <h3>Are you sure,you wanna delete this post ?</h3>                         
                        </div>
                        {% endfor %}
                        <div class="mb-3 btn1">
                            <input type="submit" value="Delete Post" class="btn btn-danger bt">
                        </div>

                    </div>
                </form>

            </div>

        </div>

        

        {% include "footer.html" %}

    </body>

    {% endblock content %}

</html>
